<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <context-param>
        <param-name>INIT_PARAM</param-name>
        <param-value>web.xml에 저장한 초기화 매개변수</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/Exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/Exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Exception.jsp</location>
    </error-page>
</web-app>









